################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/ControleDoisV/.vs/ControleDoisV/v15
/ControleDoisV/ControleDoisV/bin/Debug/netcoreapp2.0
/ControleDoisV/ControleDoisV.TestUnit/bin/Debug/netcoreapp2.0
/ControleDoisV/ControleDoisV.TestUnit/obj
