@model Dominio.Entities.OperacaoBem

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>OperacaoBem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OperacaoBemID" class="control-label"></label>
                <input asp-for="OperacaoBemID" class="form-control" />
                <span asp-validation-for="OperacaoBemID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoOperacaoBem" class="control-label"></label>
                <input asp-for="TipoOperacaoBem" class="form-control" />
                <span asp-validation-for="TipoOperacaoBem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacao" class="control-label"></label>
                <input asp-for="Observacao" class="form-control" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
